.layout {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  height: 100vh;
  grid-template-areas:
    'sidebar  navbar  navbar'
    'sidebar  main    main';
}

.layout > main {
  grid-area: main;
  height: 100%;
  padding: 40px;
  background-color: var(--primary-peach);
}
@media (max-width: 62em) {
  .layout > main {
    padding: 25px 10px;
  }
}
