.layout {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  grid-template-areas:
    'sidebar  navbar  navbar'
    'sidebar  main    main'
    'sidebar  main    main';
  position: relative;
}

.layout > main {
  grid-area: main;
  overflow-y: auto;
  padding: 0 15px;
  background-color: var(--primary-peach);
  scrollbar-width: none;
}
.layout > main::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 43em) {
  .layout > main {
    padding: 0 5px;
  }
}
@media (min-width: 1600px) {
  .layout {
    max-width: 1400px;
    margin: auto;
  }
}
