.layout {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  grid-template-areas:
    'sidebar  navbar  navbar'
    'sidebar  main    main'
    'sidebar  footer    footer';
}

.layout > main {
  grid-area: main;
  overflow-y: auto;
  padding: 40px 15px 0;
  background-color: var(--primary-peach);
  scrollbar-width: none;
}
.layout > main::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 43em) {
  .layout > main {
    padding: 25px 5px 0;
  }
}
