.cart-item {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  position: relative;
  aspect-ratio: 3.5;
}
.cart-item__details > span {
  width: 100%;
}
.cart-item__details {
  display: grid;
  grid-template-columns: 22% 1fr auto;
  background-color: var(--primary-peach);
  border-radius: 100px;
  align-self: center;
  height: 90%;
  width: 90%;
  align-items: center;
  padding-right: 12px;
  gap: 10px;
}
.cart-item__desc {
  overflow: hidden;
  z-index: 1;
}

.cart-item__desc h4,
.cart-item__desc p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: var(--fs-xs);
  line-height: 175%;
  letter-spacing: 0.02em;
  color: var(--text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cart-item__desc > p > span {
  color: var(--primary-orange);
}
.cart-item__desc > div {
  display: flex;
  gap: 10px;
}
.btn {
  width: 20px;
  aspect-ratio: 1;
  color: rgb(var(--white));
}
/* .cart-item__details::before {
  content: '';
  width: 50px;
} */
.cart-item__action > * {
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-xs);
  line-height: 175%;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.cart-item__action > div > svg {
  color: var(--primary-orange);
}

.cart-item__image {
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
}
.cart-item__image > img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100%;
}
@media (max-width: 62em) {
  .cart-item {
    aspect-ratio: 3;
  }
}
/* @media (max-width: 1200px) {
  .cart-item__details::before {
    width: 35px;
  }
} */
