.header {
  background-color: rgb(var(--white));
  grid-area: navbar;
  position: sticky;
  top: 0;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 30px rgba(234, 106, 18, 0.05);
  padding: 10px 20px;
  max-width: 100%;
  z-index: 9999;
}
.header form {
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 8px;
  width: 294px;
  height: 44px;
  border: 1px solid var(--border);
  border-radius: 24px;
}
.header input,
.header input:hover,
.header input:active {
  border: none;
  outline: none;
}
.header input {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs-s);
}
.hamburger {
  order: 3;
}
.logo {
  display: none;
}
@media (min-width: 62em) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 62em) {
  .user {
    display: none;
  }
  .logo {
    display: flex;
    width: 45px;
    aspect-ratio: 1;
  }
}
