.header {
  display: flex;
  position: sticky;
  gap: 20px;
  top: 0;
  z-index: 2;
  background-color: var(--primary-peach);
  padding: 10px 20px;
  align-items: center;
}
.header h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-size: var(--fs-m);
  color: var(--text-color);
}
