.header {
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  top: 0;
  z-index: 2;
  background-color: var(--primary-peach);
  padding: 10px 20px;
  align-items: center;
}
.header > div {
  display: flex;
  gap: 20px;
}
.header h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-size: var(--fs-m);
  color: var(--text-color);
}
.header p {
  flex-basis: 100%;
  padding: 5px 16px;
}
.category_selector {
  background-color: var(--primary-orange);
  color: rgb(var(--white));
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 3px 8px;
}
@media (max-width: 43em) {
  .header {
    padding: 10px;
  }
  .header > div {
    gap: 10px;
  }
}
