.product_desc {
  display: grid;
  grid-template-columns: 10fr 12fr;
  grid-gap: 24px;
  padding: 24px;
  background-color: rgb(var(--white), 0.8);
  backdrop-filter: blur(21px);
  border-radius: 20px;
  margin-top: 10px;
  place-items: center;
}
.more_details {
  background-color: rgb(var(--white), 0.8);
  backdrop-filter: blur(21px);
  border-radius: 20px;
  margin-top: 48px;
  padding: 24px;
}
.related_items {
  margin-top: 24px;
}
.more_details h1,
.related_items h2 {
  font-family: PlayFair Display;
  padding: 10px 24px;
  font-size: var(--fs-lg);
  border-bottom: 1px solid var(--primary-orange);
  margin-bottom: 2px;
}
.more_details h2 {
  padding: 10px 24px;
}
@media (max-width: 43em) {
  .product_desc {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: fit-content;
    padding: 12px;
  }
  .more_details {
    padding: 12px;
  }
}
