.back__button {
  background-color: rgb(var(--white));
  width: fit-content;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back__button > svg {
  height: 24px;
  width: 24px;
}
.back__button:hover > * {
  color: rgb(var(--white));
}
