@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:wght@400;600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');
:root {
  /* colors */
  --primary-orange: rgb(234, 106, 18);
  --primary-orange-light: rgb(234, 106, 18, 0.7);
  --primary-peach: rgb(255, 245, 238);
  --warning: rgb(230, 10, 10);
  --text-color: rgb(7, 20, 59);
  --para-grey: rgb(149, 152, 149);
  --white: 255, 255, 255;
  --black: rgb(0, 0, 0);
  --border: rgb(227, 225, 225);
  --side__bar-btn: rgb(245, 245, 245);

  /* font size */
  --fs-xl: 2.5rem;
  --fs-lg: 2rem;
  --fs-m: 1.5rem;
  --fs-s: 1rem;
  --fs-xs: 0.8rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#floating {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 3;
}
.logo {
  text-decoration: none;
}
.logo > img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 62em) {
  :root {
    /* font size */
    --fs-xl: 2rem;
    --fs-lg: 1.8rem;
    --fs-m: 1.2rem;
    --fs-s: 0.8rem;
    --fs-xs: 0.7rem;
  }
  #floating {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 3;
  }
}

body {
  background-color: var(--primary-peach);
  overflow-x: hidden;
}
.full-page > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
@media (max-width: 43em) {
  .full-page > ul {
    gap: 0;
  }
}
.full-page > ul > li {
  margin: auto;
}
.centered {
  text-align: center;
}
