.cart {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 24px 12px;
  gap: 43px;
  background: rgb(var(--white), 0.6);
  backdrop-filter: blur(21px);
  border-radius: 24px;
  height: inherit;
}
.cart h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-m);
  line-height: 130%;
  letter-spacing: 0.02em;
  color: var(--text-color);
  border-bottom: 1px solid var(--border);
  padding-bottom: 43px;
}

.cart__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 100%;
}
.cart__items::-webkit-scrollbar {
  width: 0;
}

.checkout_btn {
  margin: auto;
  padding: 8px 24px;
  font-size: var(--fs-s);
  color: rgb(var(--white));
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-s);
  line-height: 175%;
  letter-spacing: 0.02em;
}
@media (max-width: 62em) {
  .checkout_btn {
    padding: 4px 12px;
  }
  .cart__items {
    gap: 12px;
  }
}
